@page
@model FakeIdentityProvider.LogoutModel
@{
    ViewData["Title"] = "Log out";
}

    <header>
        <h1>@ViewData["Title"]</h1>
        <p>You have successfully logged out of the application.</p>
        <a asp-page="/Index">Back to Main Page</a>
    </header>

