@page
@model FakeServiceProvider.Pages.LogoutModel
@{
}

    <header>
        <h1>@ViewData["Title"]</h1>
        <p>You have successfully logged out of the application.</p>
        <a asp-page="/Index">Back to Main Page</a>
    </header>