@page
@model FakeServiceProvider.Pages.welcomeModel
@{
}

@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager;
@inject UserManager<IdentityUser> UserManager

@if (signInManager.IsSignedIn(User))
{
    <div class="text-center">
        <h1 class="display-4">Welcome to Service Provider... + @User.Identity.Name</h1>
        <a asp-page="/Index">Back to Main Page</a>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome to Service Provider</h1>
        <a asp-page="/Index">Back to Main Page</a>
    </div>
}